<mat-progress-bar *ngIf="!currentUserStatus" mode="indeterminate"></mat-progress-bar>
<div *ngIf="currentUserStatus" class="loaderPlaceholder"></div>

<div class="content">
    <div *ngIf="currentUserStatus">
        <app-quick-user-info [imageWidth]="150" [userId]="currentUserStatus.user.id" [isCurrentUser]="false"
            [showUsername]="true" [showStatus]="false">
        </app-quick-user-info>
        <mat-card>
            <mat-list role="list">

                <div mat-subheader>Persönliche Informationen</div>
                <mat-list-item matRipple (click)="toggleStatus()">
                    <mat-icon matListItemIcon [ngStyle]="{'color': currentUserStatus.status.attributes.color}">
                        fiber_manual_record</mat-icon>
                    <div matListItemTitle>{{currentUserStatus.status.attributes.status_string}}</div>
                </mat-list-item>
                <mat-list-item matRipple>
                    <mat-icon matListItemIcon>person</mat-icon>
                    <div matListItemTitle>{{currentUserStatus.user.attributes.firstname}}
                        {{currentUserStatus.user.attributes.lastname}}</div>
                    <div matListItemLine>{{currentUserStatus.user.attributes.position}}</div>
                </mat-list-item>

                <mat-list-item matRipple *ngIf="currentDepartment">
                    <mat-icon matListItemIcon>recent_actors</mat-icon>
                    <div matListItemTitle>{{currentDepartment.attributes.department}}</div>
                </mat-list-item>

                <mat-list-item matRipple>
                    <mat-icon matListItemIcon>phone</mat-icon>
                    <div matListItemTitle><a
                            [href]="'tel:' + currentUserStatus.user.attributes.telefoneNumber">{{currentUserStatus.user.attributes.telefoneNumber}}</a>
                    </div>
                </mat-list-item>

                <div *ngIf="stv">
                    <div mat-subheader>Stellvertretung</div>

                    <mat-list-item matRipple [routerLink]="'/minions/' + stv.user.id">
                        <mat-icon matListItemIcon>group</mat-icon>
                        <div matListItemTitle>{{stv.user.attributes.grad}} {{stv.user.attributes.firstname}}
                            {{stv.user.attributes.lastname}}</div>
                        <div matListItemLine> <span [ngStyle]="{'color': stv.status.attributes.color}"
                                class="statusColor">●</span>
                            {{stv.status.attributes.status_string}} </div>
                    </mat-list-item>
                </div>
            </mat-list>
            <mat-card-actions *ngIf="isAdmin">
                <button mat-icon-button (click)="changePassword()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button *ngIf="!profileIsfromCurrentUser" color="warn" (click)="deleteUser()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <mat-card style="margin-top: 1rem;" *ngIf="!hideLocation">
        <mat-list role="list">

            <div mat-subheader>Location (beta)</div>
            <mat-list-item matRipple>
                <mat-icon matListItemIcon >
                    location_on</mat-icon>
                <div matListItemTitle>Stand: {{latestLocation?.get('createdAt') | date: 'dd.MM.yyyy HH:mm' || '-'}}</div>
            </mat-list-item>
            </mat-list>
        <div #lMap style="border-radius: 0.25rem; width: 100%; height: 300px"></div>
    </mat-card>
</div>