<mat-progress-bar *ngIf="!userStatus" mode="indeterminate"></mat-progress-bar>
<div *ngIf="userStatus" class="loaderPlaceholder"></div>

<div *ngIf="filteredUserStatus" class="content">
    <mat-card>
        <div class="searchContainer">
            <mat-form-field class="input-full-width">
                <mat-label>Suchen</mat-label>
                <input [(ngModel)]="filterValue" matInput placeholder="" (keyup)="filterUserStatus()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="chipContainer" *ngIf="departments">
            <mat-chip-listbox aria-label="Abteilungen">
                <div class="scrollable">
                    <div>
                        <mat-chip (click)="filterValue = ''; filterUserStatus();">Alle</mat-chip>
                    </div>
                    <div *ngFor="let item of departments">
                        <mat-chip (click)="searchDepartment(item)">{{item.attributes.department}}</mat-chip>
                    </div>
                </div>
            </mat-chip-listbox>
        </div>
        <mat-list role="list">

            @for (item of filteredUserStatus; track item) {
            <mat-list-item matRipple [routerLink]="'/minions/' + item.user.id">
                <div *ngIf="item.user.get('profilePicture')" matListItemAvatar
                    [ngStyle]="{'background-image': 'url(' + item.user.get('profilePicture').url() + ')'}"
                    class="list-image"></div>
                <div matListItemTitle>{{item.user.attributes.grad}} {{item.user.attributes.lastname}}</div>
                <div matListItemLine> <span [ngStyle]="{'color': item.status.attributes.color}"
                        class="statusColor">●</span>
                    {{item.status.attributes.status_string}} </div>
            </mat-list-item>
            <mat-divider *ngIf="!$last"></mat-divider>
            }

        </mat-list>
    </mat-card>
</div>