<mat-progress-bar *ngIf="!parameters" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!parameters" class="loaderPlaceholder"></div>

<div *ngIf="parameters" class="content">
    <mat-card>
        <mat-list role="list">
            <div mat-subheader>Parameter</div>
            <mat-list-item *ngFor="let item of parameters" matRipple (click)="editItem(item)">
                <div mat-line>{{item.attributes.key}}: <strong>{{item.attributes.value}}</strong> </div>
                <div mat-line> {{item.attributes.description}} </div>
                <!--mat-divider></mat-divider-->
            </mat-list-item>

        </mat-list>
    </mat-card>
</div>