<mat-progress-bar *ngIf="!parameters" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!parameters" class="loaderPlaceholder"></div>

<div *ngIf="parameters" class="content">
    <mat-card>
        <mat-list role="list">
            <div matSubheader>Parameter</div>
            @for (item of parameters; track item.id) {
            <mat-list-item matRipple (click)="editItem(item)">
                <div matListItemTitle>{{item.attributes.key}}: <strong>{{item.attributes.value}}</strong> </div>
                <div matListItemLine> {{item.attributes.description}} </div>
            </mat-list-item>
            <mat-divider *ngIf="!$last"></mat-divider>
            }
        </mat-list>
    </mat-card>
</div>