<div class="content">

    <div style="font-size: 2.5rem; text-align: center; padding-top: 1rem;">Attendance List</div>
    <div class="grid-wrapper">
        <mat-card matRipple routerLink="/grid">
            <div>
                <div style="width: fit-content; margin: 0 auto;">
                    <mat-icon style="font-size: 50px; width: 50px; height: 50px;" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="apps"></mat-icon>
                </div>
                <p style="font-weight: bold; font-size: 16px; text-align: center; margin: 0;">Übersicht</p>
            </div>
        </mat-card>
        <mat-card matRipple routerLink="/minions">
            <div>
                <div style="width: fit-content; margin: 0 auto;">
                    <mat-icon style="font-size: 50px; width: 50px; height: 50px;" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="group"></mat-icon>
                </div>
                <p style="font-weight: bold; font-size: 16px; text-align: center; margin: 0;">Verzeichnis</p>
            </div>
        </mat-card>
        <mat-card matRipple>
            <div>
                <div style="width: fit-content; margin: 0 auto;">
                    <mat-icon style="font-size: 50px; width: 50px; height: 50px;" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="icecream"></mat-icon>
                </div>
                <p style="font-weight: bold; font-size: 16px; text-align: center; margin: 0;">BFA</p>
            </div>
        </mat-card>
        <mat-card matRipple>
            <div>
                <div style="width: fit-content; margin: 0 auto;">
                    <mat-icon style="font-size: 50px; width: 50px; height: 50px;" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="sailing"></mat-icon>
                </div>
                <p style="font-weight: bold; font-size: 16px; text-align: center; margin: 0;">Fischmarkt</p>
            </div>
        </mat-card>
    </div>
</div>