mat-card {
  margin: 1rem;
}

mat-card-content {
  margin: 0 1rem 5px 1rem;
}

.title {
    font-size: 30px;
    text-align: center;
    margin: 2rem 0 1.5rem 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.input-full-width {
  width: 100%;
  font-size: 16px;
}

.loginBtn {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.loginBtn:disabled {
  margin: 0 auto;
}

.errorMsg {
  color: red;
  margin-bottom: 1rem;
}

.progBar {
  margin: 16px 30% 16px 30%;
}

img {
  margin: 0 20% 1rem 20%;
  width: 60%;
}
